// Colors

// Main Colors

// Primary Colors
$clr-primary-color-green-200: hsl(148, 38%, 91%);
$clr-primary-color-green-600: hsl(169, 82%, 27%);
$clr-primary-color-green-900: hsla(169, 83%, 14%);
$clr-primary-color-red: hsl(0, 66%, 54%);

// Shadows

// Gradients

// Neutrals
$clr-grey-500: hsl(186, 15%, 59%);
$clr-grey-900: hsl(187, 24%, 22%);
$clr-white: hsl(0, 0%, 100%);